<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Jokes</title>
</head>
<body>
    <h1 class="head">Random Jokes</h1>
    <div class="container">
        <h1>
            <%= joke.type %>
        </h1>
        <p>
            <%= joke.setup %>
        </p>
        <p>
            <%= joke.punchline %>
        </p>
    </div>
    
</body>
</html>